 
      #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }

 
      #waypointInfo {
        background-color: Red;
        display: inline-block;
      }

      #export {
        display: inline-block;
        background-color: Blue;
        margin:.25%;
      }