@charset "UTF-8";

/* Nanum Gothic */
@import url(https://cdn.jsdelivr.net/npm/typeface-nanum-gothic@0.0.63/index.min.css);

/* reset */
*{-webkit-text-size-adjust:none;box-sizing: border-box;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;}body{-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:12px;line-height:1.3;font-family:'Nanum Gothic','Malgun Gothic',Dotum ,sans-serif;font-weight:normal;color:#666;}ul, ol, li{list-style:none}fieldset, img{border:0}br{letter-spacing:normal}p{letter-spacing:normal}hr{display:none}address, caption, em, var{padding:0;margin:0;font-style:normal;font-weight:normal}a{text-decoration:none;color:#666;}a[href^="tel"]{font-style:normal}a:hover, a:active, a:focus{text-decoration:none}input, textarea, select{letter-spacing:normal}img{border:0;vertical-align:top}legend, caption{position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}table{width:100%;border:0;border-spacing:0;}


/* common */
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
#wrap {overflow:hidden;min-width:1080px;margin: 0 auto;}
select , input {height: 28px;border: 1px solid #ccc;}
select.full {width: 100%;}
input {padding-left: 10px;}

.w50 {width: 50px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w250 {width: 250px;}
.w300 {width: 300px;}
.w350 {width: 350px;}
.w400 {width: 400px;}
.w450 {width: 450px;}
.w500 {width: 500px;}

.com-search-table {margin-top: 55px;text-align: left;}		
.com-search-table:first-child {margin-top: 0;}	
.com-search-table table {border-top: 2px solid #4d4d4d;}
.com-search-table table + table {margin-top: 12px;border-top: 1px solid #ccc;}
.com-search-table th {height: 47px;padding-left: 18px;background: #f9f9f9;border-bottom: 1px solid #ccc;font-size: 14px;font-weight: bold;line-height: 28px;color: #000;}
.com-search-table th .imp {color: #8537ef;}
.com-search-table td {height: 47px;padding: 9px 10px;border-bottom: 1px solid #ccc;font-size: 14px;line-height: 28px;color: #000;}
.com-search-table .top-title {display: block;margin-bottom: 12px;font-size: 20px;font-weight: bold;color: #121212;}
.com-search-table .top-title .title {display: inline-block;}
.com-search-table .top-title .com-check {margin-left: 30px;vertical-align: top;}
.com-search-table .top-title + table {border-top: 1px solid #ccc;}
.com-search-table .copy-btn {display: inline-block;width: 54px;height: 28px;margin-left: 3px;border: 1px solid #6d6d6d;background: #8a8a8a;font-size: 13px;line-height: 26px;text-align: center;color: #fefefe;}
.com-search-table .private-info-box {overflow: auto;height: 150px;margin-top: 15px;padding: 20px 10px;border: 1px solid #ccc;font-size: 14px;line-height: 20px;color: #5b5b5c;}
.com-search-table a.plus {display: inline-block;width: 19px;height: 19px;background: url("../images/plus_icon.png") no-repeat 0 0;vertical-align: middle;}
.com-search-table a.minus {display: inline-block;width: 19px;height: 19px;background: url("../images/minus_icon.png") no-repeat 0 0;vertical-align: middle;}
.com-search-table .dot-title {position: relative;display: block;margin: 30px 0 10px;padding-left: 20px;font-size: 16px;font-weight: bold;line-height: 24px;color: #0266b4;}
.com-search-table .dot-title::before {content: '';position: absolute;left: 10px;top: 10px;width: 4px;height: 4px;border-radius: 50%;background: #8537ef;}
.com-search-table .dot-title + table {border-top: 1px solid #ccc;}
.com-search-table.type-2 table {border-top: 2px solid #9d9c9c;}
.com-search-table.type-2 th {padding-left: 0;border-left: 1px solid #ccc;text-align: center;}
.com-search-table.type-2 th:first-child {border-left: 0;}
.com-search-table.type-2 td {border-left: 1px solid #ccc;text-align: center;}
.com-search-table.type-2 td:first-child {border-left: 0;}

.com-tab {display: table;width: 100%;margin-bottom: 25px;}
.com-tab a {display: table-cell;position: relative;left: -1px;height: 47px;border: 1px solid #bfbfbf;background: #f5f5f7;font-size: 16px;font-weight: bold;line-height: 45px;text-align: center;color: #666;}
.com-tab a:first-child {left: 0;border-left: 0;}
.com-tab a.on {position: relative;border-bottom: 0;border-top: 3px solid #3770a5;border-right: 0;background: #fff;color: #0266b4;}

.com-list-table {margin-top: 35px;text-align: left;}		
.com-list-table table {border-top: 2px solid #006fb7;}
.com-list-table th {height: 47px;padding: 5px;background: #ebf3fb;border-bottom: 1px solid #ccc;font-size: 14px;font-weight: bold;line-height: 28px;text-align: center;color: #155392;}
.com-list-table td {height: 47px;padding: 5px;border-bottom: 1px solid #ccc;font-size: 14px;line-height: 28px;text-align: center;color: #666;}
.com-list-table .com-check {vertical-align: middle;}
.com-list-table .com-check label {padding-left: 16px;}
.com-list-table a.link {display: block;color: #000;}
.com-list-table .top-btn {text-align: right;margin-bottom: 12px;}
.com-list-table .top-btn a {display: inline-block;height: 30px;margin-left: 2px;padding: 0 20px;border: 1px solid #8e8e8e;font-size: 14px;font-weight: bold;line-height: 28px;color: #747474;}
.com-list-table .top-btn a.upload {border-color: #1f7144;color: #1f7144;}
.com-list-table .top-btn a.excel {padding-left: 38px;border-color: #43994f;background: url("../images/btn_excel_icon.png") no-repeat 16px center;font-weight: bold;color: #1f7144;}
.com-list-table.type-2 table {border-top: 2px solid #4d4d4d;}
.com-list-table.type-2 table th {background: #f9f9f9;color: #000;}

.com-radio {display: inline-block;position: relative;line-height: 20px;}
.com-radio input {position: absolute;left: -9999px;}
.com-radio label {position: relative;display: inline-block;height: 20px;padding-left: 24px;font-size: 14px;line-height: 20px;color: #666;}
.com-radio label::before {content: '';position: absolute;left: 0;top: 2px;width: 16px;height: 16px;background: url("../images/radio_icon.png") no-repeat 0 0;}
.com-radio input:checked + label::before {background: url("../images/radio_icon.png") no-repeat 0 -16px;}
.com-radio + .com-radio {margin-left: 25px;}

.com-calendar > div {display: inline-block;}
.com-calendar input {width: 150px;margin-right: 5px;vertical-align: top;}
.com-calendar input.w100 {width: 100px;}
.com-calendar .icon {display: inline-block;width: 22px;text-align: center;}
.com-calendar img {cursor: pointer;}
.com-btn {margin-top: 40px;text-align: center;}
.com-btn a {display: inline-block;width: 120px;height: 45px;margin: 0 4px;background: #707070;font-size: 16px;line-height: 45px;color: #fff;}
.com-btn a.submit {background: #0266b4;}
.com-check {display: inline-block;position: relative;line-height: 20px;}
.com-check input[type="checkbox"] {position: absolute;left: -9999px;}
.com-check label {position: relative;display: inline-block;height: 20px;padding-left: 24px;font-size: 14px;line-height: 20px;color: #666;}
.com-check label::before {content: '';position: absolute;left: 0;top: 2px;width: 16px;height: 16px;background: url("../images/check_icon.jpg") no-repeat 0 0;}
.com-check input:checked + label::before {background: url("../images/check_icon.jpg") no-repeat 0 -16px;}
.com-check input[type="text"] {margin-left: 5px;width: 340px;}
.com-check + .com-check {margin-left: 25px;}

.com-paging {margin-top: 22px;text-align: center;}
.com-paging a {display: inline-block;margin: 0 4px;font-size: 14px;line-height: 20px;color: #666;vertical-align: top;}
.com-paging a.on {font-weight: bold;color: #000;}
.com-paging a.prev {width: 22px;height: 22px;margin-right: 30px;background: url("../images/paging_prev.jpg") no-repeat 0 0;}
.com-paging a.next {width: 22px;height: 22px;margin-left: 30px;background: url("../images/paging_next.jpg") no-repeat 0 0;}

.container {position: relative;width: 1080px;margin: 0 auto;padding: 60px 0 100px;}
.container::after {content: '';display: block;clear: both;}

/* lnb */
#lnb {float: left;width: 180px;}
#lnb > .title {display: block;font-size: 26px;font-weight: bold;line-height: 28px;color: #121212;}
#lnb .link-list {margin-top: 20px;}
#lnb .link-list li a {display: block;height: 50px;padding-left: 11px;border-bottom: 1px solid #bfbfbf;font-size: 16px;line-height: 48px;color: #121212;}
#lnb .link-list li.on a {border-color: #0266b4;background: #0266b4;font-weight: bold;color: #fff;}
#lnb + .middle-content {float: right;width: 870px;}

/* 헤더 */
header {position: relative;width: 1080px;margin: 0 auto;}
header::after {content: '';position: absolute;left: -9999px;right: -9999px;bottom: 0;height: 2px;background: #006cb7;}
header .top-content {position: relative;height: 81px;}
header .top-content::after {content: '';position: absolute;left: -9999px;right: -9999px;bottom: 0;height: 1px;background: #aaa;}
header .top-content h1 a {position: absolute;left: 0;top: 34px;width: 176px;height: 24px;background: url("../images/logo.png") no-repeat 0 0;text-indent: -9999px;}
header .top-content .logout {position: absolute;right: 0;top: 28px;width: 100px;height: 35px;border: 1px solid #0266b4;font-size: 14px;font-weight: bold;line-height: 32px;text-align: center;color: #0266b4;}
header .gnb {display: table;position: relative;width: 100%;text-align: center;}
header .gnb > a {display: table-cell;position: relative;height: 51px;font-size: 18px;font-weight: bold;line-height: 49px;color: #000;}
header .gnb > a::after {content: '';position: absolute;right: 0;top: 16px;width: 1px;height: 19px;background: #999;}
header .gnb > a:first-child::before {content: '';position: absolute;left: 0;top: 16px;width: 1px;height: 19px;background: #999;}
header .gnb > a.on , header .gnb > a:hover {color: #026cb6;}

/* login */
#wrap.login {width: 750px;min-width: 750px;margin: 300px auto 0;}
#wrap.login .top-content {position: relative;height: 42px;padding-bottom: 11px;border-bottom: 3px solid #9d9c9c;}
#wrap.login .top-content h1 {position: absolute;left: 0;top: 0;width: 176px;height: 24px;background: url("../images/logo.png") no-repeat 0 0;text-indent: -9999px;}
#wrap.login .top-content .txt {float: right;font-size: 26px;font-weight: bold;line-height: 32px;color: #999;}
#wrap.login .send-content {padding: 31px 382px 60px 0;background: url("../images/login_bg.jpg") no-repeat right 0;}
#wrap.login .send-content .input-area input {width: 100%;height: 57px;padding-left: 12px;border: 1px solid #e4e4e4;font-size: 20px;color: #0266b4;}
#wrap.login .send-content .input-area + .input-area {margin-top: 15px;}
#wrap.login .send-content .btn-area {margin-top: 40px;}
#wrap.login .send-content .btn-area a {display: block;height: 63px;background: #0266b4;font-size: 20px;line-height: 63px;text-align: center;color: #fff;}

@media all and (max-width:768px) {
	
	
}
